@using TSensor.Web.Models.Services;
@model UserSearchViewModel
@{
    ViewBag.Title = "Пользователи";
}

@section AdditionalHeader
{
    @Html.ActionLink("Создать нового пользователя", "Create", "User", null, new { @class = "btn bg-blue btn-block" })
}
<div class="row">
    <div class="col-md-3">
        @using (Html.BeginForm("Search", "User", FormMethod.Post, new { autocomplete = "off" }))
        {
            <div class="box box-solid">
                <div class="box-body">
                    <div class="form-group">
                        <label for="FilterSearch">Поиск</label>
                        @Html.TextBoxFor(m => m.FilterSearch, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="FilterRole">Группа</label>
                        @Html.DropDownListFor(m => m.FilterRole, new SelectList(AuthService.Roles, "Key", "Value", Model.FilterRole), string.Empty, new { @class = "form-control" })
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-default">Искать</button>
                </div>
            </div>
        }
    </div>
    <div class="col-md-9">
        @if (!Model.HasData)
        {
            <h4>ничего не найдено</h4>
        }
        else
        {
            <div class="box box-solid">
                <div class="box-body table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                @if (Model.HasInactiveRecord)
                                {
                                    <th></th>
                                }
                                <th>Логин</th>
                                <th>Фамилия</th>
                                <th>Имя</th>                                
                                <th>Отчество</th>
                                <th>Группа</th>
                                <th>Примечание</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Data.OrderBy(p => p.Name, new AlphanumComparer()))
                            {
                            <tr @if (item.IsInactive) { <text> class="text-muted" </text> }>
                                @if (Model.HasInactiveRecord)
                                {
                                    <td>
                                        @if (item.IsInactive)
                                        {
                                            <span class="badge">заблокирован</span>
                                        }
                                    </td>
                                }
                                <td>@Html.ActionLink(item.Login, "Edit", "User", new { userGuid = item.UserGuid }, null)</td>
                                <td>@Html.ActionLink(item.LastName, "Edit", "User", new { userGuid = item.UserGuid }, null)</td>
                                <td>@Html.ActionLink(item.FirstName, "Edit", "User", new { userGuid = item.UserGuid }, null)</td>
                                <td>@Html.ActionLink(item.Patronymic ?? string.Empty, "Edit", "User", new { userGuid = item.UserGuid }, null)</td>
                                <td>@Model.GetRoleName(item.Role)</td>
                                <td>@item.Description</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>

<script>
    document.querySelector('#FilterSearch').focus();
</script>
@Html.ViewModelWindow()