@{
    var hasTitle = !string.IsNullOrWhiteSpace(ViewBag.Title as string);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        УЧЕТ СУ5Д @if (hasTitle)
        {<text> - @ViewBag.Title</text>}
    </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/adminlte/dist/css/AdminLTE.min.css" />
    <link rel="stylesheet" href="~/lib/adminlte/dist/css/skins/skin-blue.min.css" />
    <link rel="stylesheet" href="~/css/fonts/stylesheet.css" />
    <link rel="stylesheet" href="~/lib/iCheck/all.css" />
    <link rel="stylesheet" href="~/css/custom.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/lib/fastclick/lib/fastclick.js"></script>
    <script src="~/lib/adminlte/dist/js/adminlte.min.js"></script>
    <script src="~/lib/iCheck/icheck.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/tree.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="@Url.Action("Index", "Dashboard")" class="logo">
                <span class="logo-mini">УЧЕТ <b>СУ5Д</b></span>
                <span class="logo-lg">УЧЕТ <b>СУ5Д</b></span>
            </a>
            <nav class="navbar navbar-static-top">
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a class="dropdown-toggle">
                                <span class="hidden-xs">@User.Identity.Name</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Logout", "Auth")"><i class="fa fa-sign-out"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li><a href="@Url.Action("Index", "Dashboard")">Измерения по системе</a></li>
                    @await Component.InvokeAsync("PointGroupMenu")
                    @if (User.IsInRole("admin"))
                    {
                        <li class="header">НАСТРОЙКИ</li>
                        <li><a href="@Url.Action("List", "Point")">Объекты и резервуары</a></li>
                        <li><a href="@Url.Action("List", "PointGroup")">Группы объектов</a></li>
                        <li><a href="@Url.Action("List", "Product")">Продукты</a></li>
                        <li><a href="@Url.Action("Search", "User")">Пользователи</a></li>
                    }
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <div class="row">
                    <div class="col-md-9"><h3 class="no-margin">@ViewBag.Title</h3></div>
                    <div class="col-md-3">@RenderSection("AdditionalHeader", false)</div>
                </div>
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>
    </div>
</body>
</html>
<script>
    $('.sidebar-menu').tree({
        trigger: '.pull-right-container'
    });
</script>