@model TSensor.Web.Models.Entity.SensorValue

<div class="t-cell" data-sensorguid="@Model.SensorGuid">
    <h5 class="t-info">
        <span title="Идентификатор устройства">@Model.DeviceGuid</span>
        <span title="Идентификатор ИЗК">@Model.IzkNumber</span>
        <span title="Идентификатор датчика">@Model.SensorSerial</span>
    </h5>
    <h6><span class="t-date">@Model.InsertDateStr</span></h6>
    <div>
        <div class="bl2">
            <div>
                <div style="height: @Model.PercentLevel<text>%</text>"></div>
            </div>
        </div>
        <div class="bl3">
            <span><span class="t-label t-img-weight">Масса</span><span class="t-liquidEnvironmentLevel">@Model.LiquidEnvironmentLevel</span> т</span>
            <span><span class="t-label t-img-volume">Объём</span><span class="t-environmentVolume">@Model.EnvironmentVolume</span> м²</span>
            <span><span class="t-label t-img-density">Плотность</span><span class="t-liquidDensity">@Model.LiquidDensity</span> кг/м³</span>
            <span><span class="t-label t-img-temperature">Температура</span><span class="t-avgT">@Model.AvgT</span> °C</span>
            <span><span class="t-label t-img-level">Уровень</span><span class="t-environmentLevel">@Model.EnvironmentLevel</span> мм</span>
        </div>
        <div class="bl-error"></div>
    </div>
</div>