@model TSensor.Web.Models.Entity.TankSensorValue
@{
    var cellClass = Model.IsGlobalError ? "t-error" : (Model.IsWarning ? "t-warning" : "t-normal");
    var guid = Model.MainSensorGuid;

    var mainClass = Model.IsErrorMain ? "text-red" : (Model.IsWarningMain ? "text-yellow" : "");
    var secondClass = Model.IsErrorSecond ? "text-red" : (Model.IsWarningSecond ? "text-yellow" : "");
}

<div class="t-cell @cellClass" data-sensorguid="@guid" data-secondsensorguid="@Model.SecondSensorGuid">
    <h5>
        <span>@Model.PointName</span>
        <span>@Model.TankName<i class="fa fa-tint @mainClass" data-sensorguid="@guid"></i>@if (Model.DualMode == true){<i class="fa fa-tint @secondClass" data-sensorguid="@Model.SecondSensorGuid"></i>}</span></h5>
    <h6><span style="margin-right: 16px;" data-sensorguid="@guid">@Model.MainSensorInsertDate</span>@if (Model.DualMode == true){<span data-sensorguid="@Model.SecondSensorGuid">@Model.SecondSensorInsertDate</span>}</h6>
    <div>
        <div class="bl2">
            <div>
                <div style="height: @Model.PercentLevel%"></div>
            </div>
        </div>
        <div class="bl3">
            <span><span class="t-label">Масса</span><span class="t-liquidEnvironmentLevel">@Model.LiquidEnvironmentLevel</span> т</span>
            <span><span class="t-label">Объём</span><span class="t-environmentVolume">@Model.EnvironmentVolume</span> м²</span>
            <span><span class="t-label">Плотность</span><span class="t-liquidDensity">@Model.LiquidDensity</span> кг/м³</span>
            <span><span class="t-label">Температура</span><span class="t-avgT">@Model.AvgT</span> °C</span>
            <span><span class="t-label">Уровень</span><span class="t-environmentLevel">@Model.EnvironmentLevel</span> мм</span>
        </div>
        <div class="bl-error"></div>
    </div>
</div>