@model PointCreateEditViewModel
@{
    ViewBag.Title = "Создание нового объекта";

    var mapOptions = string.Empty;
    if (Model != null)
    {
        mapOptions = JsonSerializer.Serialize(
            new
            {
                defaultLon = Model.DefaultLongitude,
                defaultLat = Model.DefaultLatitude,
                lon = Model.LongitudeParsed,
                lat = Model.LatitudeParsed,
            });
    }
}

@section AdditionalHeader
{
    @Html.ActionLink("назад к списку объектов", "List", "Point", null, new { @class = "footer-link pull-right additional-header-link" })
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            @using (Html.BeginForm("Create", "Point", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off" }))
            {
                @Html.HiddenFor(m => m.DefaultLongitude)
                @Html.HiddenFor(m => m.DefaultLatitude)

                <div class="box-body">
                    <div class="form-group @Html.ValidState("Name")">
                        <label for="Name" class="col-sm-3 control-label">Название</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "help-block" })
                        </div>
                    </div>
                    <div class="form-group @Html.ValidState("Address")">
                        <label for="Address" class="col-sm-3 control-label">Адрес</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Address, null, new { @class = "help-block" })
                        </div>
                    </div>
                    <div class="form-group @Html.ValidState("Phone")">
                        <label for="Phone" class="col-sm-3 control-label">Телефон</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Phone, null, new { @class = "help-block" })
                        </div>
                    </div>
                    <div class="form-group @Html.ValidState("Email")">
                        <label for="Email" class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Description" class="col-sm-3 control-label">Примечание</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 control-label"></div>
                        <div class="col-sm-9">Введите координаты объекта или укажите его на карте</div>
                    </div>
                    <div class="form-group @Html.ValidState("Longitude")">
                        <label for="Longitude" class="col-sm-3 control-label">Долгота</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Longitude, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Longitude, null, new { @class = "help-block" })
                        </div>
                    </div>
                    <div class="form-group @Html.ValidState("Latitude")">
                        <label for="Latitude" class="col-sm-3 control-label">Широта</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Latitude, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Latitude, null, new { @class = "help-block" })
                        </div>
                    </div>
                    <div>
                        <div id="map" class="map" style="height: 400px; width: 100%"></div>
                    </div>
                    <link rel="stylesheet" href="~/lib/ol/css/ol.css" />
                    <script src="~/lib/ol/build/ol.js"></script>
                    <script src="~/js/map.js"></script>
                    <script>
                        var map = new Map();

                        var lonInput = document.querySelector('#Longitude');
                        var latInput = document.querySelector('#Latitude');

                        map.initPointSelect(@Html.Raw(mapOptions), { lon: lonInput, lat: latInput });
                    </script>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn bg-blue pull-right">Сохранить</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    document.querySelector('#Name').focus();
</script>
@Html.ViewModelWindow()