@model UserCreateViewModel
@{
    ViewBag.Title = "Создание нового пользователя";
}

@section AdditionalHeader
{
    @Html.ActionLink("назад к списку пользователей", "Search", "User", null, new { @class = "footer-link pull-right additional-header-link" })
}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            @using (Html.BeginForm("Create", "User", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off" }))
            {
                <div class="box-body">
                    <div class="form-group @Html.ValidState("Login")">
                        <label for="Login" class="col-sm-3 control-label">Логин</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Login, null, new { @class = "help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="@Html.ValidState("FirstName")"><label for="FirstName" class="col-sm-3 control-label">Имя</label></span>
                        <div class="col-sm-9 inline-form-container">
                            <span class="@Html.ValidState("FirstName")">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control input-inline" })
                            </span>
                            <span class="@Html.ValidState("LastName")">
                                <label for="LastName" class="control-label">Фамилия</label>
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control input-inline" })
                            </span>
                            <span class="@Html.ValidState("Patronymic")">
                                <label for="Patronymic" class="control-label">Отчество</label>
                                @Html.TextBoxFor(m => m.Patronymic, new { @class = "form-control input-inline" })
                            </span>
                            <div class="@Html.ValidState("FirstName") @Html.ValidState("LastName") @Html.ValidState("Patronymic")">
                                <span class="firstname-validation-block @Html.ValidState("FirstName")">@Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "help-block" })</span>
                                <span class="lastname-validation-block @Html.ValidState("LastName")">@Html.ValidationMessageFor(m => m.LastName, null, new { @class = "help-block" })</span>
                                <span class="patronymic-validation-block @Html.ValidState("Patronymic")">@Html.ValidationMessageFor(m => m.Patronymic, null, new { @class = "help-block" })</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group @Html.ValidState("Password")">
                        <label for="Password" class="col-sm-3 control-label">Пароль</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "help-block" })
                        </div>
                    </div>
                    <div class="form-group @Html.ValidState("PasswordConfirm")">
                        <label for="PasswordConfirm" class="col-sm-3 control-label">Подтверждение пароля</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.PasswordConfirm, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.PasswordConfirm, null, new { @class = "help-block" })
                        </div>
                    </div>
                    <div class="form-group @Html.ValidState("Role")">
                        <label for="Role" class="col-sm-3 control-label">Группа</label>
                        <div class="col-sm-9">
                            @Html.DropDownListFor(m => m.Role, new SelectList(AuthService.Roles, "Key", "Value"), string.Empty, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Role, null, new { @class = "help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Description" class="col-sm-3 control-label">Примечание</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn bg-blue pull-right">Сохранить</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    document.querySelector('#Login').focus();
</script>
@Html.ViewModelWindow()