@model TSensor.Web.Models.Entity.TankSensorValue
@{
    var cellClass = Model.IsError ? "t-error" : (Model.IsWarning ? "t-warning" : "t-normal");
    var guid = Model.MainSensorGuid;

    var mainClass = Model.IsError ? "text-red" : (Model.IsWarning ? "text-yellow" : string.Empty);
    var dualModeClass = Model.DualMode ? "bl3-1" : string.Empty;
}

<div class="t-cell @cellClass" data-sensorguid="@guid">
    <h5>
        <a href="@Url.Action("Details", "Controller", new { deviceGuid = Model.MainDeviceGuid, mainIzkId = Model.MainIZKId  })">
            <span>
                @Model.PointName @Model.TankName<i class="fa fa-tint tank-neytral-icon"></i><i class="tank-header-icon fa fa-tint @mainClass" data-sensorguid="@guid"></i>
            </span><span>@Model.ProductName</span>
        </a>
    </h5>
    <h6><span data-sensorguid="@guid">@Model.MainSensorInsertDateStr</span></h6>
    <div>
        <div class="bl2">
            <div>
                <div class="tank-level" style="height: @Model.PercentLevel%"></div>
            </div>
        </div>
        
        <div>Тут были значения</div>
        
        <div class="bl-error"></div>
    </div>
</div>