@model ActualSensorValuesViewModel
@{
    ViewBag.Title = "Измерения по системе";
}

@if (Model?.ActualSensorValueList?.Any() == true)
{
    @section AdditionalHeader
    {
        @if (Model.Favorite == null)
        {
            @using (Html.BeginForm("AddFavorite", "Dashboard", FormMethod.Post, new { @class = "form-horizontal page-header-form", autocomplete = "off" }))
            {
                <div class="row">
                    <div class="col-md-6">
                        @Html.TextBox("name", null, new { @class = "form-control inline-header-button", placeholder = "название" })
                        @foreach (var item in ViewBag.SelectedMenuElements)
                        {
                            @Html.Hidden("valueList[]", (Guid)item, new { id = $"add-favorite-item-{item}" })
                        }
                    </div>
                    <div class="col-md-6"><button type="submit" class="btn bg-blue btn-block inline-header-button pull-right">Добавить в избранное</button></div>
                </div>
            }
        }
        else
        {
            @using (Html.BeginForm("RemoveFavorite", "Dashboard", FormMethod.Post, new { @class = "form-horizontal page-header-form", autocomplete = "off" }))
            {
                <div class="row">
                    <div class="col-md-6">
                        @Html.Hidden("favoriteGuid", Model.Favorite.FavoriteGuid)
                        @foreach (var item in ViewBag.SelectedMenuElements)
                        {
                            @Html.Hidden("valueList[]", (Guid)item, new { id = $"remove-favorite-item-{item}" })
                        }
                    </div>
                    <div class="col-md-6"><button type="submit" class="btn bg-red btn-block inline-header-button pull-right">Убрать из избранного</button></div>
                </div>
            }
        }
    }
    @section TitleButtons
    {
        @using (Html.BeginForm("Index", "Chart", FormMethod.Post, new { @class = "title-button-container", autocomplete = "off" }))
        {
            foreach(var tankGuid in Model.ActualSensorValueList.Select(p => p.TankGuid))
            {
                @Html.Hidden("TankGuidList[]", tankGuid, new { id = $"guidList{tankGuid}" })
            }

            <button class="btn bg-blue btn-block" type="submit">Графики</button>
        }
    }
    var hasError = Model.ActualSensorValueList.Any(t => t.IsError);
    var hasWarning = Model.ActualSensorValueList.Any(t => t.IsWarning);

    var listenSensors = Model.ActualSensorValueList.Select(t =>
        new
        {
            guid = t.MainSensorGuid,
            updateDate = t.MainSensorInsertDate,
            warningDate = t.MainSensorWarningDateTicks,
            weightDelta = t.WeightChangeDelta ?? 0,
            weightTimeout = t.WeightChangeTimeout ?? 0,
            weight = t.LiquidEnvironmentLevel,
            isGas = t.IsGas
        });

    <div class="t-error-message callout callout-danger @if(!hasError){<text>hidden</text>}">
        <h4>Внимание!</h4>
        <p>Данные с некоторых датчиков никогда не поступали. Проверьте правильность настроек.</p>
    </div>
    <div class="t-warning-message callout callout-warning @if(!hasWarning){<text>hidden</text>}">
        <h4>Внимание!</h4>
        <p>Данные с некоторых датчиков не поступают больше десяти минут. Проверьте правильность настроек и исправность системы.</p>
    </div>

    @foreach (var tank in Model.ActualSensorValueList)
    {
        @Html.Partial("TankCard", tank)
    }

    <div class="clearfix"></div>

    <script src="~/lib/signalr/signalr.min.js"></script>
    <script>
        const listenSensors = @Html.Raw(JsonSerializer.Serialize(listenSensors));
        const connection = new signalR.HubConnectionBuilder().withUrl('/broadcast/sensorvalue').build();

        var errorBlock = $('.t-error-message');
        var warningBlock = $('.t-warning-message');

        connection.on('sensorupdate', sensorUpdate);

        connection.start();
    </script>

    @Html.ViewModelWindow()
}
else
{
    <p>Выберите в меню данные для отображения</p>
}