@model TSensor.Web.ViewModels.ControllerSettings.IzkDetailsViewModel

@{
    ViewBag.Title = "Управление контроллером";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
        
            @using (Html.BeginForm("Edit", "Controller", FormMethod.Post, new {@class = "user-search-form", autocomplete = "on"}))
            {
                <div class="box box-solid">
                    <div class="box-body">
                        <div class="form-group @Html.ValidState("CommandForController")">
                            <label for="CommandForController">Команда в HEX формате: </label>
                            <div >
                                @Html.TextBoxFor(m => m.CommandForController, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.CommandForController, null, new {@class = "help-block"})
                            </div>
                        </div>
                           
                        <div class="form-group">
                            <label for="DeviceGuid">Контроллер</label>
                            <div >
                                @Html.TextBoxFor(m => m.DeviceGuid, new {@class = "form-control", @id = "DeviceGuid", @autocomplete = "DeviceGuides"})
                                @Html.ValidationMessageFor(m => m.DeviceGuid, null, new {@class = "help-block"})
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="IzkNumber">Номер ИЗК</label>
                            <div>
                                @Html.TextBoxFor(m => m.IzkNumber, new {@class = "form-control", @id = "IzkNumber"})
                                @Html.ValidationMessageFor(m => m.IzkNumber, null, new {@class = "help-block"})
                            </div>
                        </div>
                    </div>
                    
                    <div class="box-footer">
                        <button type="submit" class="btn btn-default">Отправить команду</button>
                    </div>
                   
                </div>
                
            }
            
        
            <div class="box">
                 @using (Html.BeginForm("Reset", "Controller", FormMethod.Post, new {@class = "user-search-form", autocomplete = "on", id = "reset-form"}))
                    {
                        <div class="box box-solid">
                            <div class="box-body">
                               
                                <div class="form-group">
                                    <label for="DeviceGuid">Контроллер</label>
                                    <div >
                                        @Html.TextBoxFor(m => m.DeviceGuid, new {@class = "form-control", @id = "DeviceGuid"})
                                        @Html.ValidationMessageFor(m => m.DeviceGuid, null, new {@class = "help-block"})
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="IzkNumber">Номер ИЗК</label>
                                    <div>
                                        @Html.TextBoxFor(m => m.IzkNumber, new {@class = "form-control", @id = "IzkNumber"})
                                        @Html.ValidationMessageFor(m => m.IzkNumber, null, new {@class = "help-block"})
                                    </div>
                                </div>
                            </div>
                            
                            <div class="box-footer">
                                <button id="reset-button" type="button" class="btn bg-red-gradient">Перезапустить контроллер</button>
                            </div>
                           
                        </div>
                    }
            </div>
        </div>
    </div>
    

<script>
    document.querySelector('#reset-button').addEventListener('click', function () {
            document.querySelector('#reset-form').submit();
    });
  
// https://demos.componentone.com/aspnet/5/mvcexplorer/InputMask  

</script>

@Html.ViewModelWindow()
</div>