@model PointCreateEditViewModel
@{
    ViewBag.Title = "Создание нового объекта";
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            @using (Html.BeginForm("Create", "Point", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off" }))
            {
                <div class="box-body">
                    <div class="form-group @Html.ValidState("Name")">
                        <label for="Name" class="col-sm-3 control-label">Название</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "help-block" })
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    @Html.ActionLink("назад к списку объектов", "List", "Point", null, new { @class = "footer-link" })
                    <button type="submit" class="btn bg-blue pull-right">Сохранить</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    document.querySelector('#Name').focus();
</script>
@Html.ViewModelWindow()