@model IEnumerable<ActualSensorValue>
@{
    var pointName = Model.First().PointName;
    ViewBag.Title = pointName;

    var hasError = Model.Any(p => p.IsError);
    var hasWarning = Model.Any(p => p.IsWarning);
}

@section AdditionalHeader
{
    @Html.ActionLink("назад к всем объектам", "All", "Point", null, new { @class = "footer-link pull-right additional-header-link" })
}

@if (hasError)
{
    <div class="callout callout-danger">
        <h4>Внимание!</h4>
        <p>Данные с некоторых датчиков никогда не поступали. Проверьте правильность настроек.</p>
    </div>
}
@if (hasWarning)
{
    <div class="callout callout-warning">
        <h4>Внимание!</h4>
        <p>Данные с некоторых датчиков не поступают больше часа. Проверьте правильность настроек и исправность системы.</p>
    </div>
}

@if (Model.Any(p => p.TankGuid.HasValue))
{
    <div class="row">
        @foreach (var tank in Model.Where(p => p.TankGuid.HasValue).OrderBy(p => p.TankName))
        {
            var cellClass = tank.IsError ? "t-error" : (tank.IsWarning ? "t-warning" : "t-normal");
            <div class="t-cell @cellClass">
                <h5>@tank.TankName</h5>
                <h6>@tank.MainSensorLastDate</h6>
                <div>
                    <div class="bl1">
                        <span>@tank.t1 °C</span>
                        <span>@tank.t2 °C</span>
                        <span>@tank.t3 °C</span>
                        <span>@tank.t4 °C</span>
                        <span>@tank.t5 °C</span>
                        <span>@tank.t6 °C</span>
                    </div>
                    <div class="bl2">
                        <div>
                            <div style="height: @tank.PercentLevel%"></div>
                        </div>
                    </div>
                    <div class="bl3">
                        <span>M @tank.liquidEnvironmentLevel т</span>
                        <span>V @tank.environmentVolume м²</span>
                        <span>P @tank.liquidDensity кг/м³</span>
                        <span>T @tank.AvgT °C</span>
                        <span>S1 @tank.environmentLevel</span>
                    </div>
                    <div class="bl-error"></div>
                </div>
            </div>  
        }
    </div>
}
else
{
    <span>Не найдено ни одного топливного бака</span>
}

@*
    <script src="/npm/@@microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
        var actualValues = @Html.Raw(@actualValues);
        const connection = new signalR.HubConnectionBuilder().withUrl('/broadcast').build();

        const container = $('.container tbody');

        connection.on('sensorupdate', function (data, date) {
            data.forEach(function (item) {
                if (actualValues[item.sensorGuid] == item.sensorValueId) {
                    container.find('tr[data-sensorguid="' + item.sensorGuid + '"]:first').next().find('td:first').html(date);
                } else {
                    actualValues[item.sensorGuid] = item.sensorValueId;

                    var html = '<tr data-sensorguid="' + item.sensorGuid + '"><td>' +
                        date + '</td><td>' +
                        item.date + '</td><td>' +
                        item.eventDate + '</td><td>' +
                        item.value + '</td></tr>';

                    container.find('tr[data-sensorguid="' + item.sensorGuid + '"]:first').after(html);

                    var rowCount = container.find('tr[data-sensorguid="' + item.sensorGuid + '"]').length;
                    if (rowCount == 5) {
                        container.find('tr[data-sensorguid="' + item.sensorGuid + '"]:last').remove();
                    }
                }
            });
        });

        connection.start();
    </script>
*@